### Git template
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

# To ignore virtual environment and secret env file
venv-dev/
secrets.env

# To ignore cache, SQLite3 DB, .env and .vercel files
__pycache__
*.pyc
*.log
db.sqlite3
.vercel
.env

# To ignore collectstatic files at STATIC_ROOT
staticfiles/